body {
  background-color: antiquewhite;
  color: black;
  font-family: monospace;
  font-size: 32px;
}

#odds {
  position: absolute;
  top: 270px;
  left: 30px;
  font-size: 30px;
  color: crimson;
}

.balls p {
  position: absolute;
  font-size: 50px;
  top: 400px;

}

#ball1 {
  left: 125px
}

#ball2 {
  left: 175px
}

#ball3 {
  left: 225px
}

#ball4 {
  left: 275px
}

#ball5 {
  left: 325px
}

#ball6 {
  left: 375px
}

#ball7 {
  left: 425px
}

#ball8 {
  left: 475px
}

#ball9 {
  left: 525px
}

#ball10 {
  left: 575px
}



.butts button {
  position: absolute;
  background-color: beige;
  color: brown;
  padding: 5px 15px;
  font-size: 26px;
  border-radius: 15px;
  width: 350px;
  height: 100px;
  top: 620px;
}

#goal {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 15px;
  width: 130px;
  height: 50px;
  top: 455px;
}

#ball_goal {
  top: 150px;
  left: 350px;
}

#fixres {
  left: 10px;
}

#tables {
  left: 370px;
}

#match {
  left: 730px;
}

.league_hds p {
  position: fixed;
  color: blue;

}

.league p {
  position: fixed;

}

#LGA_HD {
  top: 100px;
  left: 10px;
}

#LGB_HD {
  top: 100px;
  left: 550px;
}

#LGC_HD {
  top: 300px;
  left: 10px;
}

#LGD_HD {
  top: 300px;
  left: 550px;
}

#LG0 {
  top: 130px;
  left: 10px;
}

#LG1 {
  top: 160px;
  left: 10px;
}

#LG2 {
  top: 190px;
  left: 10px;
}

#LG3 {
  top: 220px;
  left: 10px;
}

#LG4 {
  top: 130px;
  left: 550px;
}

#LG5 {
  top: 160px;
  left: 550px;
}

#LG6 {
  top: 190px;
  left: 550px;
}

#LG7 {
  top: 220px;
  left: 550px;
}


#LG8 {
  top: 330px;
  left: 10px;
}

#LG9 {
  top: 360px;
  left: 10px;
}

#LG10 {
  top: 390px;
  left: 10px;
}

#LG11 {
  top: 420px;
  left: 10px;
}

#LG12 {
  top: 330px;
  left: 550px;
}

#LG13 {
  top: 360px;
  left: 550px;
}

#LG14 {
  top: 390px;
  left: 550px;
}

#LG15 {
  top: 420px;
  left: 550px;
}

.league_hds p {
  position: fixed;
  color: blue;
}

#fixhd_r1 {
  left: 10px;
  top: 10px;
}

#fixhd_r2 {
  left: 370px;
  top: 10px;
}

#fixhd_r3 {
  left: 730px;
  top: 10px;
}

#fixhd_r4 {
  left: 10px;
  top: 220px;
}

#fixhd_r5 {
  left: 370px;
  top: 220px;
}

#fixhd_r6 {
  left: 730px;
  top: 220px;
}

#qfhead {
  position: fixed;
  left: 42px;
  top: 440px;
}

#sfhead {
  position: fixed;
  left: 437px;
  top: 440px;
}

#fhead {
  position: fixed;
  left: 860px;
  top: 440px;
}


.fixture_list p {
  position: fixed;
  font-size: 20px;
}


#fix48 {
  left: 57px;
  top: 490px;
}

#fix49 {
  left: 57px;
  top: 510px;
}

#fix50 {
  left: 57px;
  top: 530px;
}

#fix51 {
  left: 57px;
  top: 550px;
}

#fix52 {
  left: 417px;
  top: 490px;
}

#fix53 {
  left: 417px;
  top: 510px;
}


#fix54 {
  left: 777px;
  top: 490px;
}

#match_hd {
  text-align: center;
  top: 50px;
  font-size: 50px;
}

#timer {
  position: absolute;
  top: 200px;
  left: 300px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  color: blue;
}


#fix_main {
  text-align: center;
  top: 125px;
  font-size: 75px;
}

#teama_level {
  position: absolute;
  top: 220px;
  left: 30px;
  font-size: 30px;
  color: crimson;
}

#teamb_level {
  position: absolute;
  top: 220px;
  left: 920px;
  font-size: 30px;
  color: crimson;
}

#end_msg {
  position: fixed;
  font-size: 30px;
  left: 750px;
  top: 580px;
}

#teama1 {
  position: absolute;
  top: 60px;
  left: 58px;
  font-size: 20px;
  color: crimson;
}

#teama2 {
  position: absolute;
  top: 60px;
  left: 610px;
  font-size: 20px;
  color: crimson;
}

#teama3 {
  position: absolute;
  top: 60px;
  left: 778px;
  font-size: 20px;
  color: crimson;
}

#teama4 {
  position: absolute;
  top: 270px;
  left: 250px;
  font-size: 20px;
  color: crimson;
}

#teama5 {
  position: absolute;
  top: 270px;
  left: 418px;
  font-size: 20px;
  color: crimson;
}

#teama6 {
  position: absolute;
  top: 270px;
  left: 970px;
  font-size: 20px;
  color: crimson;
}


#teamb1 {
  position: absolute;
  top: 100px;
  left: 250px;
  font-size: 20px;
  color: crimson;
}

#teamb2 {
  position: absolute;
  top: 120px;
  left: 610px;
  font-size: 20px;
  color: crimson;
}

#teamb3 {
  position: absolute;
  top: 120px;
  left: 778px;
  font-size: 20px;
  color: crimson;
}

#teamb4 {
  position: absolute;
  top: 310px;
  left: 58px;
  font-size: 20px;
  color: crimson;
}

#teamb5 {
  position: absolute;
  top: 330px;
  left: 418px;
  font-size: 20px;
  color: crimson;
}

#teamb6 {
  position: absolute;
  top: 330px;
  left: 970px;
  font-size: 20px;
  color: crimson;
}


#teamc1 {
  position: absolute;
  top: 160px;
  left: 58px;
  font-size: 20px;
  color: crimson;
}

#teamc2 {
  position: absolute;
  top: 140px;
  left: 418px;
  font-size: 20px;
  color: crimson;
}

#teamc3 {
  position: absolute;
  top: 160px;
  left: 970px;
  font-size: 20px;
  color: crimson;
}

#teamc4 {
  position: absolute;
  top: 370px;
  left: 250px;
  font-size: 20px;
  color: crimson;
}

#teamc5 {
  position: absolute;
  top: 350px;
  left: 610px;
  font-size: 20px;
  color: crimson;
}

#teamc6 {
  position: absolute;
  top: 370px;
  left: 778px;
  font-size: 20px;
  color: crimson;
}

#teamd1 {
  position: absolute;
  top: 200px;
  left: 250px;
  font-size: 20px;
  color: crimson;
}

#teamd2 {
  position: absolute;
  top: 200px;
  left: 418px;
  font-size: 20px;
  color: crimson;
}

#teamd3 {
  position: absolute;
  top: 180px;
  left: 970px;
  font-size: 20px;
  color: crimson;
}

#teamd4 {
  position: absolute;
  top: 410px;
  left: 58px;
  font-size: 20px;
  color: crimson;
}

#teamd5 {
  position: absolute;
  top: 410px;
  left: 610px;
  font-size: 20px;
  color: crimson;
}

#teamd6 {
  position: absolute;
  top: 390px;
  left: 778px;
  font-size: 20px;
  color: crimson;
}
